.cardContainer{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Abril Fatface', cursive;
}
#homeCard {
    margin-left: 13px;
    margin-top: 10px;
  }
  
  #homeCardTitle {
    color:#053c53;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 23px;
  
  }
  body{
    font-family: 'Abril Fatface', cursive;
}
h1{
    text-align: center;
    padding: 50px;
    font-family: 'Abril Fatface', cursive;
}
  
.update {
  display: block;
  width: 230px;
  
  margin-left: auto;
  margin-right: auto;
}
 
.update button {
    margin: 15px;
}
  